@charset "Windows-31J"


p{
	color:#000000;
}

h1{
	color:#0066FF;
	text-shadow:violet 0.1em 0.1em 0.1em,gray 0.3em 0.2em 0.3em;
}

body{
	background-image:url(../image/back1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;

	
}