@charset= "Windows-31J";
*{
  font-family: "ƒqƒ‰ƒMƒmŠpƒS Pro W3","ƒƒCƒŠƒI",sans-serif;
}
body{
	background-image:url(../image/back5.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#name{
  color: #20cc20;
}

pre {
  /* Mozilla */
  white-space: -moz-pre-wrap;
  /* Opera 4-6 */
  white-space: -pre-wrap;
  /* Opera 7 */
  white-space: -o-pre-wrap;
  /* CSS3 */
  white-space: pre-wrap;
  /* IE 5.5+ */
  word-wrap: break-word;
}